<nav class="pagination">
  <div class="pagination-summary">
    <strong>{{meta.page}} / {{meta.totalPages}}</strong>
    <span>{{meta.total}} ta yozuvdan sahifa ko'rinishi</span>
  </div>
  <div class="pagination-actions">
    {{#if meta.hasPreviousPage}}
      <a class="pagination-link" href="{{queryString filters page=(add meta.page -1) limit=meta.limit}}">
        Oldingi
      </a>
    {{/if}}
    <span class="pagination-status">{{meta.limit}} ta yozuv / sahifa</span>
    {{#if meta.hasNextPage}}
      <a class="pagination-link" href="{{queryString filters page=(add meta.page 1) limit=meta.limit}}">
        Keyingi
      </a>
    {{/if}}
  </div>
</nav>
