<nav class="pagination">
  <div class="pagination-summary">
    <strong>{{pageStart meta.page meta.limit meta.total}}-{{pageEnd meta.page meta.limit meta.total}}</strong>
    <span><strong>{{meta.total}}</strong> ta yozuvdan joriy sahifa ko'rinishi</span>
  </div>
  <div class="pagination-actions">
    {{#if meta.hasPreviousPage}}
      <a class="pagination-link pagination-link-arrow" href="{{queryString filters page=(add meta.page -1) limit=meta.limit}}">
        ‹
      </a>
    {{else}}
      <span class="pagination-link pagination-link-arrow is-disabled">‹</span>
    {{/if}}

    {{#each (paginationPages meta.page meta.totalPages)}}
      {{#ifEquals type 'ellipsis'}}
        <span class="pagination-ellipsis">…</span>
      {{else}}
        <a
          class="pagination-link {{#if current}}is-active{{/if}}"
          href="{{queryString ../filters page=value limit=../meta.limit}}"
        >
          {{value}}
        </a>
      {{/ifEquals}}
    {{/each}}

    <span class="pagination-status">{{meta.limit}} ta / sahifa</span>
    {{#if meta.hasNextPage}}
      <a class="pagination-link pagination-link-arrow" href="{{queryString filters page=(add meta.page 1) limit=meta.limit}}">
        ›
      </a>
    {{else}}
      <span class="pagination-link pagination-link-arrow is-disabled">›</span>
    {{/if}}
  </div>
</nav>
